<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Mes appareils</h2>
      <ul class="list-group">
        <appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></appareil>
        <appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></appareil>
        <appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></appareil>
      </ul>
      <button class="btn btn-success" 
              [disabled]="!isAuth" 
              (click)="onAllumer()">Tout Allumer</button>
    </div>
  </div>
</div>

<router-outlet></router-outlet>